/* src/app/orders-list/orders-list.component.css */
.container {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #0078d7;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #004085;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  tbody tr.selected {
    background-color: #cce5ff;
  }
  
  a {
    color: #0078d7;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .new-order-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto; /* Empuja el botón a la derecha */
    display: block;    /* Asegura que ocupe una línea completa */
}

.new-order-btn:hover {
    background-color: #0056b3;
}

.box {
  border: 2px solid #ddd; /* Borde del "cuadrado" */
  padding: 16px;          /* Espaciado interno */
  border-radius: 8px;     /* Bordes redondeados */
  margin-top: 20px;       /* Separación con otros elementos */
  background-color: #f9f9f9; /* Color de fondo */
}
  