<div class="container">

        <h1 class="title">Products</h1>
        <button (click)="newProduct()" class="new-btn">New Product</button>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Cost per unit</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index" [class.selected]="i === 1">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.cost | currency }}</td>
            </tr> 
          </tbody>
      </table>
  </div>